*, *::before, *::after {
	box-sizing: border-box;
}

body {
	margin: 0;
	font-family: sans-serif;
}

.card-symbol {
	display: inline-block;
	vertical-align: middle;
}

.mana-symbol {
	height: 16px;
}

.set-symbol {
	height: 35px;
}

.set-symbol.rarity-c { filter: invert(15%) sepia(8%) saturate(568%) hue-rotate(314deg) brightness(98%) contrast(81%); }
.set-symbol.rarity-u { filter: invert(55%) sepia(8%) saturate(273%) hue-rotate(172deg) brightness(92%) contrast(87%); }
.set-symbol.rarity-r { filter: invert(70%) sepia(44%) saturate(422%) hue-rotate(3deg) brightness(89%) contrast(90%); }
.set-symbol.rarity-m { filter: invert(38%) sepia(58%) saturate(1775%) hue-rotate(3deg) brightness(95%) contrast(96%); }

.navbar {
	list-style: none;
	background-color: #137EE3;
	margin: 0;
	text-align: right;
	height: 40px;
	padding: 0;
}

.navbar a {
	text-decoration: none;
}

.nav-item, .nav-link {
	height: 100%;
}

.nav-logo {
	background-color: green;
	float: left;
	height: 100%;
}

.nav-item {
	display: inline-block;
	text-align: center;
	width: 70px;
}

.nav-link {
	display: inline-block;
	width: 100%;
	padding-top: 3px;
	color: lightgrey;
	cursor: pointer;
}

.nav-link:hover {
	padding-top: 0;
	background-color: rgba(0, 0, 0, 0.07);
}

.nav-link:hover::before {
	background-color: #1660AA;
	display: block;
	content: "";
	width: 100%;
	height: 3px;
}
