*, *::before, *::after {
	box-sizing: border-box;
}

body {
	margin: 0;
	font-family: sans-serif;
}

.navbar {
	list-style: none;
	background-color: #137EE3;
	margin: 0;
	text-align: right;
	height: 40px;
	padding: 0;
}

.navbar a {
	text-decoration: none;
}

.nav-item, .nav-link {
	height: 100%;
}

.nav-logo {
	background-color: green;
	float: left;
	height: 100%;
}

.nav-item {
	display: inline-block;
	text-align: center;
	width: 70px;
}

.nav-link {
	display: inline-block;
	width: 100%;
	padding-top: 3px;
}

.nav-link:hover {
	padding-top: 0;
	background-color: rgba(0, 0, 0, 0.07);
}

.nav-link:hover::before {
	background-color: #1660AA;
	display: block;
	content: "";
	width: 100%;
	height: 3px;
}

.mana-symbol {
	display: inline-block;
	width: 16px;
	vertical-align: middle;
	position: relative;
	bottom: 1px;
}
