{% extends "min_base.html" %}

{% block min_head %}
	{# <head> content for base.html goes here #}
	{% block head %}
	{% endblock %}
{% endblock %}

{% block min_content %}
	<ul class="navbar">
		<li class="nav-logo"><a href="{% url "homepage:home" %}">Trade Binder</a></li>
		<li class="nav-item"><a class="nav-link" href="{% url "homepage:home" %}">item 1</a></li>
		<li class="nav-item"><a class="nav-link" href="{% url "homepage:home" %}">item 2</a></li>
		<li class="nav-item"><a class="nav-link" href="{% url "homepage:home" %}">item 3</a></li>
		{% if user.is_authenticated %}
			<li class="nav-item"><a class="nav-link" href="{% url "logout" %}">Log out</a></li>
		{% else %}
			<li class="nav-item"><a class="nav-link" href="{% url "login" %}">Login</a></li>
		{% endif %}
	</ul>
	{% block content %}
	{% endblock %}
{% endblock %}
